<p>Numero 1</p>
<input type="number" [(ngModel)]="edadUno"/>
<br>
<br>
<p>Numero 2</p>
<input type="number" [(ngModel)]="edadDos"/>

<p>Suma</p>
<input type="number" value={{suma}} readonly >


<p>Promedio</p>
<input type="number" value={{promedio}} readonly>
<br>
<br>
<button (click)="calcular()">Calcular</button>
<button (click)="limpiar()">Limpiar cuadros de texto</button>

<br>
<br>
<br>
<button routerLink="login">Login</button>
<button routerLink="bienvenido">Bienvenido</button>
<button routerLink="error">Error</button>

<router-outlet />